.menubar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:space-between; /*아이템 사이 균일한 간격*/
    position: fixed;
    background-color: white;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* 메뉴바 다른 요소 위 배치 */
}
.logo{
    width: auto;;
    height: 50px;
    cursor: pointer; /*클릭 가능한 아이콘*/

}

.menu{
    display: flex; /*메뉴항목 가로 배치*/
    gap: 20px; /* 항목 사이 간격*/
    font-size: 15px;
    font-weight: 500;
    /* color: rgb(113, 113, 113); */
}

.menu a {
    color: rgb(113, 113, 113);
    text-decoration: none; /* 링크 기본 밑줄 제거 */

}

.search{
    width: 40%;;
    height: auto;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(113, 113, 113)); /*png 색 수정*/

}
