.textbox{
    display: block; 
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    background-color: rgb(181, 181, 181);
    background-size: 100%;
    color:  rgb(97, 97, 97);
    padding-top: 10px;
    padding-bottom: 10px;
}

.title{
    text-align: center;
    font-size: 25px;
    
}

.textbox_contents{
    line-height: 190%;
    font-size: 20px;
    font-weight: normal;
    
}