.about{
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
    padding-left: 5%;
    color: rgb(49, 49, 49);
}

/* .about_intro{
    font-size: 20px;
    padding-top: 1%;
    padding-left: 1%;
} */

.research{
    padding-top: 3%;
    font-size: 40px;
    color: rgb(49, 49, 49);

}

.research_title{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 17px;
    padding-left: 1%;
}

.research_img{
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    width: 500px;
    height: 400px;
    padding-bottom: 10%;
}

.research_text{
    padding-top: 2%;
    padding-left: 2%;
    font-size: 18px;
}